$white: #ffffff;
$black: #000000;
$grey: #999999;
$primary: #2A8BF2;
$lightGrey: #F5F5F5;
$darkGrey: #707C97;
$scrollGrey: #B7BDCB;
$lightWhite: #FAFBFF;
$headerGrey: rgba(112, 124, 151, 0.1);
$lightBlue: rgba(255, 255, 255, 0.25);
$blueGradient: linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
$red: #FF3366;
$darkBlue: #20315C;
$green: #00C305;