.sidebar {

  &__menu-item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  
  &__menu-item a {
    font-size: 21px;
    line-height: 22px;
    text-decoration: none;
  }

  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  width: 250px;
  height: 100vh;
  padding: 20px;
}