.sidebar {

  &__header {
    display: flex;
    justify-content: center;
  }

  &__menu-item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__menu-item a {
    font-size: 21px;
    line-height: 22px;
    text-decoration: none;
  }

  display: flex;
  flex-direction: column;
  box-shadow: 14.0351px 0 25px rgba(86, 128, 248, 0.03), 35.0877px 0 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
  background-color: $white;
  width: 290px;
  height: 100vh;
  padding: 87px 48px 40px 0;
}