.switch-button {

  input {

    &:checked + .switch-button__slider {

      &::before {
        transform: translate(32px, -50%);
      }

      background-color: $primary;
    }

    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
      background-color: $white;
      transition-duration: .4s;
      border-radius: 50%;
    }

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $scrollGrey;
    border-radius: 20px;
  }

  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}