.text-input {

  &._error {
    border: 1px solid $red;
  }

  & + span {
    font-size: 14px;
    color: $red;
    position: absolute;
    bottom: -5px;
    left: 0;
  }

  &:focus {
    outline: none;
  }

  font-size: 18px;
  border-radius: 6px;
  height: 58px;
  border: 1px solid $headerGrey;
  padding: 23px 24px;
}