.textarea-input {

  &:focus {
    outline: none;
  }

  min-height: 150px;
  width: 100%;
  font-size: 18px;
  border-radius: 6px;
  resize: none;
  border: 1px solid $headerGrey;
  padding: 23px 24px;
}