.message-item {

  &.active {

    .message-item__text{
      color: $white;
    }

    background: $blueGradient;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  &__count {
    &._picture {
      background: rgba(255, 51, 102, 1);
    }

    &._file {
      background: rgba(42, 139, 242, 1);
    }

    display: inline-block;
    color: $white;
    border-radius: 20px;
    padding: 12px 17px 12px 13px;
  }

  &__text {
    color: $darkGrey;
  }

  background-color: $white;
  border-radius: 6px;
  text-decoration: none;
  padding: 30px 39px 40px 40px;
}