.message-item {

  &.active {
    .message-item__text {
      color: $white;
    }

    background: $blueGradient;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  &__text {
    color: $darkGrey;
  }

  background-color: $white;
  border-radius: 6px;
  text-decoration: none;
  padding: 30px 39px 40px 40px;
}