@import "base/base";
@import "partials/partials";
@import "common/common";
@import "containers/containers";
@import "inputs/inputs";
@import "ui/ui";

main {
  width: 100%;
  background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
  padding: 110px 60px 0 60px;
}

.overlay_black {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  border: 0;
  background-color: transparent;
}

