.card-container {

  &._extended {
    min-width: 400px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  background-color: $white;
  border-radius: 14px;
  border: 1px solid $headerGrey;
  padding: 20px 30px 30px 30px;
}